# server
PORT=3000

# github (source)
GITHUB_ORG=
GITHUB_TOKEN=
GITHUB_WEBHOOK_SECRET=

# gitea (destination)
GITEA_URL=
GITEA_TOKEN=
GITEA_ORG=

# mirror
MIRROR_INTERVAL=8h0m0s
MIRROR_LFS=false
MIRROR_PRIVATE=auto
LOG_LEVEL=info
